<!DOCTYPE html>
<html lang="en">
<head>

	<!-- http-equiv is equivalent to name attribute -->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="description" content="Discover the richest bird biodiversity in Colombia">
  <meta name="author" content="Jose Villalobos, www.gamebite10.com">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Find Collections</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="./../css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="./../css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body ng-app="collect" ng-controller="collectCtrl" ng-init="loadUnblockedPacks(); loadRemainingDailyFreePacks(); loadAddedFreePacks()">
	<!-- Nav bar -->
	<div class="navbar-fixed">    
    <nav class="purple lighten-1" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/colombirds.com/" class="brand-logo white-text">Colombirds</a>

        <!-- Hides on tablets and below -->
        <ul class="right hide-on-med-and-down">
          <li class="active"><a href="/colombirds.com/collect/" class="white-text">Collect</a></li>
          <li><a href="/colombirds.com/mycollection/" class="white-text">My Collection</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
          <li class="active"><a href="/colombirds.com/collect/">Collect</a></li>
          <li><a href="/colombirds.com/mycollection/">My Collection</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons  white-text">menu</i></a>
      </div>
    </nav>
  </div>	

  <!-- START FREE PACKS -->
  <div class="container">
    <div class="section">
    	<div class="row">
    		<div class="col s12">
    			<h3>Free packs</h3>
    		</div>  			
    	</div>
    	
    	<div class="row">    		
    		<div class="col s12">
          <!-- i Have used ng-bind instead of {{}} for avoid flickering-->
    			<h5 ng-cloak>Remaining daily packs: <span ng-bind="remainingDailyFreePacks"></span></h5>
    		</div>
    	</div>
    </div>
  </div>


  <!-- Grid of collectable cards -->
  <div class="container" >
    <div class="section">
    	<div class="row">

    		<div class="col s12 m4" ng-repeat="pack in freePacksInfo track by $index">
    			<div class="card">
    				<div class="card-image">
              <a class="modal-trigger" ng-href="{{modalName}}" ng-click="openPack(pack); addPackToMyCollection(pack)">
		            <img ng-src="./../img/cards/set{{pack.collection + '/' + pack.img}}">
                <span class="card-title">{{pack.name}}</span>
              </a>
		          
		        </div>
		        <div class="card-content">
		          <p>{{pack.description}}</p>
		        </div>
		        <div class="card-action">
		          <a class="modal-trigger" ng-href="{{modalName}}" ng-click="openPack(pack); addPackToMyCollection(pack)">Unblock Pack</a>
		        </div>
    			</div>
    		</div>

    	</div>
    </div>
  </div>

  <!-- Modals For collections -->
 	<!-- Modal Structure -->
	<div id="modal" class="modal">
		<div class="modal-content">
      <h4>Unblocked Pack</h4>
      <p>{{openedPack.description}}</p>
        <div class="row">
          <div class="col s12 m4" ng-repeat="packImg in openedPack.packImgs track by $index">
            <div class="card">
              <div class="card-image">
                <img ng-src="./../img/cards/set{{openedPack.collection + '/' + packImg}}">
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
    </div>
	</div>
  <!-- END FREE PACKS -->


  <!-- START BOUGHT PACKS -->
  <div class="container">
    <div class="section">      
      
      <!-- Header rare packs -->
      <div class="row">
        <div class="col s12">
          <h3>My bought packs</h3>
        </div>        
      </div>


      <div class="row">

        <form class="input-field col s12 m6" ng-submit="submitCode()">
          <i class="material-icons prefix">add_circle</i>
          <input type="text" ng-model="inputCode" id="autocomplete-input" class="validate">
          <label for="autocomplete-input">Unblock pack with code</label>
        </form>       

        <div class="input-field col s12 m2">
          <button id="codeSubmitBtn" class="btn waves-effect waves-light yellow darken-3" type="submit" name="action" ng-click="submitCode()">
            Submit<i class="material-icons right">send</i>
          </button>
        </div>
      </div>      

      <!-- Unblocked rare packs -->
      <div class="row">
        <!-- https://docs.angularjs.org/error/ngRepeat/dupes -->
        <div class="col s12 m4" ng-repeat="pack in unblockedPacks track by $index">
          <div class="card">
            <div class="card-image">
              <a class="modal-trigger" ng-href="#modalrares" ng-click="openRare(pack)">
                <img ng-src="./../img/cards/set{{pack.collection + '/' + pack.img}}">
                <span class="card-title">{{pack.name}}</span>
              </a>              
              
            </div>
            <div class="card-content">
              <p>{{pack.description}}</p>
            </div>
            <div class="card-action">
              <a class="modal-trigger" href="#modalrares" ng-click="openRare(pack)">Open Pack</a>
            </div>
          </div>
        </div>
      </div>

      <!-- Modals For collections -->
      <!-- Modal Structure -->
      <div id="modalrares" class="modal">
        <div class="modal-content">
          <h4>{{selectedRarePack.name}}</h4>
          <p>{{selectedRarePack.description}}</p>
          <div class="row">
            <div class="col s12 m4" ng-repeat="packImg in selectedRarePack.packImgs track by $index">
              <div class="card">
                <div class="card-image">
                  <img ng-src="./../img/cards/set{{selectedRarePack.collection + '/' + packImg}}">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <dir class="col s12">Aqui debe ir: 1. musica relacionada al ave, 2. Lugares donde se puede ver</dir>
            
          </div>

        </div>
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
      </div>

    </div>
  </div>
  <!-- END BOUGHT PACKS -->


  <footer class="page-footer purple lighten-1">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="white-text" href="http://gamebite10.com" target="_blank"><b>Gamebite10</b></a>
      </div>
    </div>
  </footer>

	<!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="./../js/materialize.js"></script>
  <script src="./../js/init.js"></script>
  <script src="js/collect.js"></script>
  <script src="js/collectController.js"></script>
</body>
</html>